.login-container{
    text-align: center;

    position: absolute;
    left: 100px;
    right: 10;
    top: 20%;
    transform: translateY(-50%);
    
}
login-container input{
    padding: 10px;
    color: antiquewhite;
}