<div class="container">
  <h2>Book Tickets</h2>
</div>
<div>
  <div class="album py-5 bg-light">
    <div class="container" id="connn">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm ">
          <img  src="https://cfm.yidio.com/images/movie/45727/poster-193x290.jpg"   alt="">
            <div class="card-body">
              <p>Ted 2</p>
              <p class="card-text">Ted 2 from 2015 is a comedy film that follows the life of a teddy bear named Ted, who is now married to Tami-Lynn. However, their marriage runs into trouble when they try to adopt a child and are told that Ted is not considered a legal citizen.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="moveToBooking()">Book Now</button>
                </div>
                <small class="text-muted">120 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img  src="https://cfm.yidio.com/images/movie/215016/poster-193x290.jpg"     alt="">
            <div class="card-body">
              <p>Spider-Man: No Way Home</p>
              <p class="card-text">Spider-Man: No Way Home is a 2021 superhero action film starring Tom Holland as Peter Parker/Spider-Man, Zendaya as MJ, and Benedict Cumberbatch as Doctor Strange. The film takes place following the events of Spider-Man: Far From Home, where Spider-Man's secret identity is revealed to the world by J. Jonah Jameson. </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="moveToBooking()">Book Now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          <img  src="https://cfm.yidio.com/images/movie/237138/poster-193x290.jpg"     alt="">
            <div class="card-body">
             <p> Luck</p>
              <p class="card-text">Luck is a captivating drama film released in 2022 that explores the complex themes of fate, destiny, and the human condition. Starring Eva Noblezada as the lead character, the movie takes us on a journey through the life of a young woman struggling to find her place in the world.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="moveToBooking()">Book Now</button>
                </div>
                <small class="text-muted"> 105 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
         <img src="https://cfm.yidio.com/images/movie/45668/poster-193x290.jpg" alt="">
            <div class="card-body">
              <p>Fifty Shades of Grey</p>
              <p class="card-text">Fifty Shades of Grey is a 2015 romantic drama film directed by Sam Taylor-Johnson and based on the best-selling novel of the same name by E. L. James. The film follows the story of Anastasia Steele, a shy and inexperienced college senior, who meets the wealthy and charismatic businessman Christian Grey, and is drawn into his world of BDSM .</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="moveToBooking()">Book Now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          <img src="https://cfm.yidio.com/images/movie/232932/poster-193x290.jpg" alt="">
            <div class="card-body">
              <p>John Wick: Chapter 4</p>
              <p class="card-text">In the highly anticipated fourth installment of the John Wick franchise, Keanu Reeves reprises his role as the titular character, a legendary hitman with a penchant for avenging those he loves. The film opens with John still reeling from the events of the previous movie, where he was declared excommunicado by the High Table, the powerful organization that governs the world's assassins.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="moveToBooking()">Book Now</button>
                </div>
                <small class="text-muted">169 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          <img src="https://cfm.yidio.com/images/movie/236592/poster-193x290.jpg" alt="">
            <div class="card-body">
              <p>Fast and Furious X</p>
              <p class="card-text">"Fast X" (also known as "Fast & Furious 10") is a gripping, high-octane American action film that roared onto screens in 2023. Directed by Louis Leterrier, this exhilarating installment in the renowned "Fast & Furious" franchise was penned by an esteemed trio of writers: Dan Mazeau, Justin Lin, and Zach Dean​​.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="moveToBooking()">Book Now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img src="https://cfm.yidio.com/images/movie/236591/poster-193x290.jpg" alt="">
            <div class="card-body">
              <p> The Little Mermaid</p>
              <p class="card-text">The Little Mermaid from 2023 is a visually stunning film adaptation of the classic fairytale by Hans Christian Andersen, featuring a diverse and talented cast. Halle Bailey plays the titular character of Ariel, a mermaid princess who longs to live on land and explore the human world.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="moveToBooking()">Book Now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img src="https://cfm.yidio.com/images/movie/236593/poster-193x290.jpg" alt="">
            <div class="card-body">
              <p> Transformer: The Rise of the Beast</p>
              <p class="card-text">"Transformers: Rise of the Beasts" is a 2023 action-adventure film and the latest addition to the Transformers franchise. It intertwines elements of the Transformers universe with a unique narrative set in 1994 Brooklyn. Directed by Steven Caple Jr., the film showcases the Autobots, Maximals, and a host of intergalactic villains in a battle for the fate of the universe.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="moveToBooking()">Book Now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img  class=" round"  src="https://i.pinimg.com/originals/a6/9f/56/a69f563e82c499de8fc918b39e4e4627.png" alt="">
            <div class="card-body">
              <p class="card-text">In the 1970s, a gangster named Rocky goes undercover as a slave to assassinate the owner of a notorious gold mine known as the K.G.F.
                The movie dates back to 1951. Here, two incidents take place; The birth of the hero and other in the Kolar Gold Fields (K.G.F) they get gold. The hero is brought up in poverty..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="moveToBooking()">Book Now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          <img src="https://th.bing.com/th?id=OSK.9c3f3f75c814c3db00fa19a4c85ddd0c&w=140&h=210&c=7&rs=1&qlt=80&o=6&cdv=1&pid=18.2" alt="">
            <!-- <svg class="bd-placeholder-img card-img-top rounded" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <div class="card-body">
              <p>A Men Called Otto</p>
              <p class="card-text"> A Man Called Otto tells the story of Otto Anderson (Tom Hanks), a grump who no longer sees purpose in his life following the loss of his wife. Otto is ready …</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="moveToBooking()">Book Now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          <img src="https://cfm.yidio.com/images/movie/241192/poster-193x290.jpg" alt="">
            <!-- <svg class="bd-placeholder-img card-img-top rounded" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <div class="card-body">
              <p>Evil Dead Rise</p>
              <p class="card-text">“Evil Dead Rise” is the latest addition to the “Evil Dead” franchise, which has a remarkable track record of consistently delivering quality horror movies. This can be attributed in part to the involvement of series creator Sam Raimi, who is known for his discerning approach to selecting filmmakers to helm these groovy blood-soaked films.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="moveToBooking()">Book Now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
          <img src="https://th.bing.com/th/id/OIP.XRX4g2PXJub2lNNfG3w6zgHaEK?w=310&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
            <!-- <svg class="bd-placeholder-img card-img-top rounded" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <div class="card-body">
              <p>Brahmastra Part One: Shiva </p>
              <p class="card-text">This is the story of Shiva who sets out in search of love and self-discovery. During his journey, he has to face many evil forces that threaten our existence.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="moveToBooking()">Book Now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
