<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="profile_data ">
  
  <div class="container-sm  text-center  border ">
       
      </div>
    <div class="profile_photo">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis corrupti temporibus ipsa hic illo quae officia dignissimos, a, perferendis magni eligendi ab at atque. Magnam beatae nihil quaerat voluptates aut vel dicta, sequi delectus quibusdam quod. Assumenda voluptatem itaque consectetur iusto odio molestiae sunt impedit dolores magni voluptates ipsa, suscipit ea cupiditate eos laborum hic, maxime nobis quis vitae laboriosam.
    </div>
    <div class="m_detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, et vel vero iste at, nesciunt aut distinctio voluptas tempora cumque molestiae doloremque doloribus. Totam laboriosam et, quis quod voluptas est praesentium commodi, consequatur nam enim distinctio placeat ea voluptate, natus veritatis autem tempora ab tempore. Harum tenetur cupiditate vitae veniam. Quod repellendus eius, sapiente officia est, explicabo porro, sunt dicta fugiat quia illum molestias reiciendis obcaecati recusandae doloribus. Consequatur aliquam maiores reiciendis, debitis cum tenetur eligendi unde ratione assumenda! Eos repudiandae, magnam ullam vero commodi fugiat veniam explicabo a rerum!</div>
<div class="container-sm"> dfwefwfdwefwefwdwdkjnwaefkwjrk</div>
</div>
</ion-content>
