
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registration</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="card">
    <div class="imageContainer flexCenter">
        <h3>Register Yourself</h3>
    </div>
    <form action="" method="post">

      <div class="content">
        <input class="textField" type="text" placeholder="Email" name="email" [(ngModel)]="email" />
        <input class="textField" type="text" placeholder="First name" name="firstname" [(ngModel)]="firstname"/>
        <input class="textField" type="text" placeholder="Last name" name="lastname" [(ngModel)]="lastname"/>
        <input class="textField" type="password" placeholder="Password" name="password" [(ngModel)]="password"/>
        <input class="textField" type="Repassword" placeholder="RePassword" name="Repassword"[(ngModel)]="confirmpassword"  />

        <button class="primaryBtn" (click)="onSubmit()">Register</button>
        <!-- <a href="#">Forgot password?</a> -->
      </div>
    </form>
</div>

</ion-content>

